<!DOCTYPE html>
	<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1> Display page </h1>

	        <h3>Name: <%= dog.name %> </h3>

	    <a href="/"><button>Go Back</button></a>


	</body>
	</html>